:root {
  --background-color: #212529;
  --text-color: #f8f9fa;
  --primary-color: #77b254;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  width: 100vw;
}

#scrollbar-wrapper {
  min-width: 600px;
  padding: 0 25vw;
  overflow: auto;
}

#pfp {
    object-fit: cover;
    border-radius: 50%;
    height: 124px;
    width: 124px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 0 3rem;
}

/* Initial state for the dropdown content */
.section-body {
  opacity: 0; /* Hidden by default */
  max-height: 0; /* Hidden with zero height */
  overflow: hidden; /* Hide overflow to avoid visual glitch */
  transition: opacity 0.3s ease-in-out, max-height 0.6s ease-in-out;
  padding: 0 3rem;
}

/* When the content is shown, it will fade in and expand */
.section-body.visible {
  opacity: 1; /* Make it fully visible */
  max-height: 600px; /* Set a large enough max-height for the expanded state */
}

p,
ul,
li {
  margin: 0.25rem 0;
}

h1,
h2 {
  margin: 0.5rem 0;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: var(--text-color);

  padding-top: 2rem;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-btn {
  height: auto;
  padding-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.dropdown-btn:hover {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.dropdown-btn.active {
  color: var(--primary-color);
}

.role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.role-location {
  font-weight: bold;
}

.role-date {
  font-style: italic;
}

.left {
  max-width: 75%;
}

.right {
  text-align: end;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

#socials {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;

  a {
    padding-right: 2rem;
  }
}

a:hover {
  color: var(--primary-color);
}