:root {
    --background-color: #212529;
    --text-color: #f8f9fa;
}

body {
    background-color: var(--background-color);
    padding: 0 30vw 0 30vw;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-top: 1rem;
}

p, ul, li {
    margin: 0.25rem 0;
}

h1, h2 {
    margin: 0.5rem 0;
}

.section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--text-color);

    padding-top: 2rem;
}

.role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.role-location {
    font-weight: bold;
}

.role-date {
    font-style: italic;
}

.left {
    max-width: 75%;
}

.right {
    text-align: end;
}

a {
    color: var(--text-color);
    text-decoration: underline;
    padding-right: 2rem;
}

a:hover {
    color: red; 
}

#socials {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

#pfp {
    object-fit: cover;
    border-radius: 50%;
    height: 124px;
    width: 124px;
}

